Package: luki.byebyeadvisorylabel
Name: ByeByeAdvisoryLabel
Author: Luki
Description: Removes the annoying parental advisory pop-up.
Depends: mobilesubstrate
Maintainer: Luki
Architecture: iphoneos-arm
Section: Tweaks
Version: 2.0
